<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Map</title>
    <link rel="stylesheet" href="/stylesheets/driverMap.css" />
  </head>
  <body>
    <div class="body">
      <span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="base">
        <span></span>
        <div class="face"></div>
      </div>
    </div>
    <div class="longfazers">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <h1>YOUR TRIP HAS STARTED</h1>
    <a
      href="https://legend101zz.github.io/DrowsinessMonitoring/"
      style="
        display: inline-block;
        margin-top: 10px;

        float: left;
      "
    >
      <button
        style="
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 10px 20px;
          position: absolute;
          border-radius: 4px;
          font-size: 16px;
          float: left;
          z-index: 9999;
        "
      >
        Jaago
      </button>
    </a>
    <br />
    <a
      href="/api/v1/driver/end"
      style="display: inline-block; margin-top: 10px; float: left"
    >
      <button
        style="
          background-color: #ff4742;
          color: #fff;
          border: none;
          float: left;
          position: absolute;
          margin-left: 250px;
          padding: 10px 20px;
          border-radius: 4px;
          font-size: 16px;
          z-index: 9999;
        "
      >
        End trip
      </button>
    </a>
    <script src="/socket.io/socket.io.js"></script>

    <script>
      let SOCKET_URL = "http://localhost:3000/";
      const socket = io(`${SOCKET_URL}`);

      socket.on("connect", () => {
        console.log("Connected");
      });

      // Define the postJSON function to send data to the server
      function postJSON(data) {
        console.log("inside__postJson", data);
        socket.emit("driverData", data); // Emit the driverData event with the data
      }

      tripId = "<%-trip._id%>";
      sourceLocation = "<%-trip.Start%>";
      destinationLocation = "<%-trip.End%>";

      navigator.geolocation.getCurrentPosition(successLocation, errorLocation, {
        enableHighAccuracy: true,
      });

      navigator.geolocation.watchPosition(successApi, errorApi, {
        enableHighAccuracy: true,
      });

      function getCurrentTime() {
        const currentDate = new Date();
        const hours = currentDate.getHours().toString().padStart(2, "0");
        const minutes = currentDate.getMinutes().toString().padStart(2, "0");
        const seconds = currentDate.getSeconds().toString().padStart(2, "0");

        return `${hours}:${minutes}:${seconds}`;
      }

      async function successApi(position) {
        const longitude = position.coords.longitude;
        const latitide = position.coords.latitude;
        const speed = position.coords.speed;
        const currentTime = getCurrentTime();
        const data = {
          long,
          latitide,
          speed,
          tripId,
          sourceLocation,
          destinationLocation,
          currentTime,
        };
        console.log("successAPI__>", data);
        start(data);
      }

      function errorApi(err) {
        console.log(err);
      }

      async function successLocation(position) {
        const longitude = position.coords.longitude;
        const latitide = position.coords.latitude;
        const speed = position.coords.speed;
        const currentTime = getCurrentTime();
        const data = {
          longitude,
          latitide,
          speed,
          tripId,
          sourceLocation,
          destinationLocation,
          currentTime,
        };
        console.log(data, "here location");
        start(data);
      }

      function errorLocation() {}

      function start(data) {
        console.log("function__started");
        postJSON(data); // Call the postJSON function to send data to the server
      }
    </script>
  </body>
</html>
