<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
      type="text/css"
    />
    <title>Rodhak</title>
    <style>
      body {
        margin: 0;
      }

      #map {
        height: 100vh;
        width: 100vw;
      }
      .marker {
        background-image: url("/bus.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      .marker2 {
        background-image: url("/car.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      .marker3 {
        background-image: url("/volvo.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      .marker4 {
        background-image: url("/hrtc.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }

      .mapboxgl-popup {
        max-width: 200px;
      }

      .mapboxgl-popup-content {
        text-align: center;
        font-family: "Open Sans", sans-serif;
      }

      /* Custom styles for the button */
      .button {
        position: fixed;
        top: 20px;
        left: 20px;
        z-index: 999;
        padding: 10px 20px;
        background-color: #e74c3c;
        color: #fff;
        border: none;
        border-radius: 50px;
        font-family: "Arial", sans-serif;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .button:hover {
        background-color: #c0392b;
      }

      @media screen and (max-width: 768px) {
        /* Adjust styles for smaller screens */
        .button {
          top: 5px;
          left: 5px;
          font-size: 12px;
        }
      }
    </style>
    <script>
      //putting id from the env in the global execiution context so that it can be accessed by the below allMaps flie
      var mapId = "<%=env%>";
    </script>
    <script type="module" src="/allMaps.js"></script>
  </head>
  <body>
    <div id="map"></div>
    <!-- Button with link to search page -->
    <a href="https://www.dndrodhak.live/" class="button">Search My Trip</a>
  </body>
</html>
