<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script
      src="https://unpkg.com/threebox-plugin/dist/threebox.min.js"
      type="text/javascript"
    ></script>
    <link
      href="https://unpkg.com/threebox-plugin/dist/threebox.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
      type="text/css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <title>Rodhak</title>
    <style>
      body {
        margin: 0;
      }

      #map {
        height: 100vh;
        width: 100vw;
        position: relative;
      }

      #legend {
        position: absolute;
        top: 10px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.3); /* Translucent background */
        border: 1px solid rgba(0, 0, 0, 0.1); /* Border */
        border-radius: 10px; /* Rounded corners */
        padding: 10px;
        font-family: Arial, sans-serif;
      }

      .legend-item {
        margin-bottom: 5px;
        width: 200px;
      }

      .legend-item span {
        display: inline-block;
        width: 20px;
        height: 20px;
        margin-right: 5px;
        border-radius: 50%;
      }

      .legend-item .color-red {
        background-color: #ff0000;
      }

      .legend-item .color-green {
        background-color: #00ff00;
      }

      .legend-item .label {
        vertical-align: super;
      }

      .modal {
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;
        font-family: Arial, sans-serif;
        backdrop-filter: blur(10px);
        max-height: 300px;
        overflow: hidden;
        transition: max-height 0.3s ease, padding 0.3s ease;
      }

      .modal.minimized {
        max-height: 40px;
        padding: 10px;
      }

      .modal-content {
        text-align: center;
        position: relative;
      }

      .minimize-button {
        position: absolute;
        top: -25px;
        right: -5px;
        cursor: pointer;
        font-size: 26px;
        background-color: transparent;
        border: 3px solid rgba(0, 0, 0, 0.8);
        color: #333;
        transition: color 0.3s ease; /* Smooth color transition */
      }

      @media (max-width: 767px) {
        #legend {
          top: 5px;
          right: 5px;
          padding: 5px;
        }

        .legend-item {
          margin-bottom: 3px;
          width: 150px;
        }

        .legend-item span {
          width: 15px;
          height: 15px;
          margin-right: 3px;
        }
      }

      @media (max-width: 480px) {
        #legend {
          top: 5px;
          right: 5px;
          padding: 5px;
          font-size: 12px;
        }

        .legend-item {
          margin-bottom: 2px;
          width: 120px;
        }

        .legend-item span {
          width: 12px;
          height: 12px;
          margin-right: 2px;
        }
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <div id="legend">
      <div class="legend-item">
        <span class="color-red"></span>
        <span class="label">Distance to be traveled</span>
      </div>
      <div class="legend-item">
        <span class="color-green"></span>
        <span class="label">Distance traveled</span>
      </div>
    </div>
    <div id="infoModal" class="modal">
      <div class="modal-content">
        <h2>Route Information</h2>
        <p>
          <strong>Source Location:</strong> <span id="sourceLocation"></span>
        </p>
        <p>
          <strong>Destination Location:</strong>
          <span id="destinationLocation"></span>
        </p>
        <p><strong>Via Location:</strong> <span id="viaLocation"></span></p>
        <p>
          <strong>Last Updated Time:</strong> <span id="lastUpdatedTime"></span>
        </p>
      </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://unpkg.com/leaflet-ease/leaflet-ease.js"></script>
    <script type="module">
      // Your Mapbox access token
      var mapId = "<%=env%>";
      let data;
      var destination, line;
      var soldier;
      var routePath;
      var lineGeometry;
      // let SOCKET_URL = "https://himraahi.in/";
      let SOCKET_URL = "http://localhost:3000/";
      mapboxgl.accessToken = mapId;

      // Create a socket connection
      const socket = io(`${SOCKET_URL}`);

      // Add the minimize button to the modal
      const modal = document.querySelector("#infoModal");
      const minimizeButton = document.createElement("button");
      minimizeButton.classList.add("minimize-button");
      minimizeButton.textContent = "-";
      minimizeButton.addEventListener("click", () => {
        modal.classList.toggle("minimized");
      });

      const modalContent = document.querySelector(".modal-content");
      modalContent.appendChild(minimizeButton);

      // Update the modal content with the route information
      function updateModalContent(routeInfo) {
        const {
          sourceLocation,
          destinationLocation,
          viaLocation,
          currentTime,
        } = routeInfo;
        console.log("route info", routeInfo);
        document.getElementById("sourceLocation").textContent = sourceLocation;
        document.getElementById("destinationLocation").textContent =
          destinationLocation;
        document.getElementById("viaLocation").textContent = viaLocation;
        document.getElementById("lastUpdatedTime").textContent = currentTime;
      }

      // Event handler for socket connection
      socket.on("connect", () => {
        console.log("Connected to the socket server");
      });

      // Extract the trip ID from the URL
      const queryString = window.location.pathname.split("p");
      const tripId = queryString[1].replace("/", "");

      // Initialize the map with a placeholder location
      var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v9",
        center: [0, 0], // Placeholder center
        zoom: 12,
        pitch: 60,
        bearing: 0,
      });

      // Create a marker element
      var el = document.createElement("div");
      el.className = "marker";

      // Initialize the line object
      var line;

      // Listen for the map 'load' event
      map.on("load", async function () {
        routePath = await getRoutePath(tripId);
        console.log("Route Path", routePath);
        // Initialize the source for the bus path
        map.addSource("busPath", {
          type: "geojson",
          data: {
            type: "Feature",
            properties: {},
            geometry: {
              type: "LineString",
              coordinates: routePath,
            },
          },
        });

        map.addLayer({
          id: "custom_layer",
          type: "custom",
          renderingMode: "3d",
          onAdd: function (map, mbxContext) {
            window.tb = new Threebox(map, mbxContext, {
              defaultLights: true,
            });

            var options = {
              obj: "/models/bus.glb",
              type: "gltf",
              scale: 100,
              units: "meters",
              anchor: "bottom",
              rotation: { x: 90, y: -90, z: 0 }, //rotation to postiion the truck and heading properly
            };

            tb.loadObj(options, function (model) {
              soldier = model.setCoords([0, 0]);
              soldier.addEventListener("ObjectChanged", onObjectChanged, false);
              tb.add(soldier);
            });
          },
          render: function (gl, matrix) {
            tb.update();
          },
        });

        // Add a layer to display the completed bus path
        map.addLayer({
          id: "completedPathLayer",
          type: "line",
          source: "busPath",
          layout: {
            "line-join": "round",
            "line-cap": "round",
          },
          paint: {
            "line-color": "#FF0000", // Completed path color
            "line-width": 5, // Line width
          },
        });

        // Add a layer to display the remaining bus path
        map.addLayer({
          id: "remainingPathLayer",
          type: "line",
          source: "busPath",
          layout: {
            "line-join": "round",
            "line-cap": "round",
          },
          paint: {
            "line-color": "#FF0000", // Remaining path color
            "line-width": 5,
            "line-opacity": 0.5, // Line width
          },
        });
      });

      // Initialize an empty array to store coordinates
      let coordinatesArray = [];
      // Listen for WebSocket updates from the server
      socket.on("broadcastDriverData", async (data) => {
        // Check if the data is for the specific trip
        const stringWithoutSlash = queryString[1].replace("/", "");
        if (data.tripID === stringWithoutSlash) {
          let via;
          updateModalContent(data);
          // Update the marker's location
          if (!isNaN(data.longitude) && !isNaN(data.latitude) && soldier) {
            console.log("data from sockets ", data);

            soldier.setCoords([data.longitude, data.latitude]);
            // Update map center to soldier's position
            map.flyTo({
              center: [data.longitude, data.latitude],
              speed: 0.6,
            });

            coordinatesArray.push([data.longitude, data.latitude]);
            if (coordinatesArray.length > 1) {
              lineGeometry = coordinatesArray.map(function (coordinate) {
                return coordinate.concat([coordinate.length - 1]);
              });
            }
          } else {
            console.error(
              "Invalid latitude or longitude in the received data:",
              data
            );
          }

          // Check if sourceLocation and destinationLocation are available
          if (data.sourceLocation && data.destinationLocation && lineGeometry) {
            console.log("lineGeometry", lineGeometry);
            // Add the line object to the map
            line = tb.line({
              geometry: lineGeometry,
              width: 5,
              color: "green",
            });

            tb.add(line);
          }
        }
      });

      function onObjectChanged(e) {
        let model = e.detail.object; //here's the object already modified
        let action = e.detail.action; //here's the action that changed the object
        // console.log("model click action", action);
      }

      // Function to get the route path between sourceLocation and destinationLocation
      async function getRoutePath(tripId) {
        try {
          const response = await fetch(`/himraahi/trip/Coords/${tripId}`);
          const tripData = await response.json();
          // console.log("trip response", tripData);
          const sourceLocation = tripData.coordinateStart;
          const destinationLocation = tripData.coordinateEnd;

          const response2 = await fetch(
            `https://api.mapbox.com/directions/v5/mapbox/driving/${sourceLocation[0]},${sourceLocation[1]};${destinationLocation[0]},${destinationLocation[1]}?geometries=geojson&access_token=${mapboxgl.accessToken}`
          );
          const data = await response2.json();
          // console.log("trip response 2", data);
          return data.routes[0].geometry.coordinates;
        } catch (error) {
          console.error("Error fetching route path:", error);
          return [];
        }
      }

      function formatTime(currentTime) {
        const date = new Date(currentTime);

        // Adjust the date to Indian Standard Time (UTC+05:30)
        date.setHours(date.getHours() + 5);
        date.setMinutes(date.getMinutes() + 30);

        // Format the time in the desired format
        return date.toLocaleString("en-IN", {
          timeZone: "Asia/Kolkata",
          hour12: true,
          hour: "numeric",
          minute: "numeric",
          second: "numeric",
        });
      }
    </script>
  </body>
</html>
