<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
      type="text/css"
    />
    <title>Rodhak</title>
    <style>
      body {
        margin: 0;
      }

      #map {
        height: 100vh;
        width: 100vw;
      }
      .marker {
        background-image: url("/bus.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      .mapboxgl-popup {
        max-width: 200px;
      }

      .mapboxgl-popup-content {
        text-align: center;
        font-family: "Open Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      var mapId = "<%=env%>";
      mapboxgl.accessToken = mapId;
      const socket = io("http://195.35.45.35:3000/");

      socket.on("connect", () => {
        console.log("Connected");
      });

      const queryString = window.location.pathname.split("p");
      console.log(queryString[1], "here");

      // Initialize the map with a placeholder location
      const map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v12",
        center: [0, 0], // Placeholder center
        zoom: 15,
      });

      map.on("load", () => {
        // Initialize the source for the bus marker
        map.addSource("busNew", {
          type: "geojson",
          data: {
            type: "FeatureCollection",
            features: [],
          },
        });

        // Function to update the bus marker on the map
        function updateBusMarker(coordinates, source, dest, time) {
          let tryMap = map.getSource("busNew").setData({
            type: "FeatureCollection",
            features: [
              {
                type: "Feature",
                geometry: {
                  type: "Point",
                  coordinates: coordinates,
                },
                properties: {
                  title: "Rodhak",
                  description: "Driver's Current Location",

                  start: source,
                  end: dest,

                  time: time,
                },
              },
            ],
          });

          let bus = map.getSource("busNew")._data;
          console.log("check__22", bus);

          for (const feature of bus.features) {
            // create a HTML element for each feature
            const el = document.createElement("div");

            el.className = "marker";

            // make a marker for each feature and add to the map
            new mapboxgl.Marker(el)
              .setLngLat(feature.geometry.coordinates)
              .setPopup(
                new mapboxgl.Popup({ offset: 25 }) // add popups
                  .setHTML(
                    `<h3>${feature.properties.time}</h3><br/><p>From: ${feature.properties.start}</p><p>To: ${feature.properties.end}</p>  `
                  )
              )
              .addTo(map);
          }

          // Fly the map to the updated location
          map.flyTo({
            center: coordinates,
            speed: 0.5,
          });
        }

        // Listen for WebSocket updates from the server
        socket.on("broadcastDriverData", (data) => {
          console.log("checking", data, queryString[1], data.tripId);
          const stringWithoutSlash = queryString[1].replace("/", "");
          if (data.tripId === stringWithoutSlash) {
            console.log("Got coords for Hardy", data);
            updateBusMarker(
              [data.long, data.lat],
              data.startTrip,
              data.endTrip,
              data.currentTime
            );
          }
        });
      });
    </script>
  </body>
</html>
