<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js"></script>
    <link
      href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css"
      rel="stylesheet"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v4.1.0/mapbox-gl-directions.css"
      type="text/css"
    />
    <script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js"></script>
    <link
      rel="stylesheet"
      href="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.css"
      type="text/css"
    />
    <title>Rodhak</title>
    <style>
      body {
        margin: 0;
      }

      #map {
        height: 100vh;
        width: 100vw;
      }
      .marker {
        background-image: url("/bus.png");
        background-size: cover;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
      }
      .mapboxgl-popup {
        max-width: 200px;
      }

      .mapboxgl-popup-content {
        text-align: center;
        font-family: "Open Sans", sans-serif;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
      // Your Mapbox access token
      var mapId = "<%=env%>";
      let data;
      mapboxgl.accessToken = mapId;

      // Create a socket connection
      const socket = io("http://195.35.45.35:3000/");

      // Event handler for socket connection
      socket.on("connect", () => {
        console.log("Connected to the socket server");
      });

      // Extract the trip ID from the URL
      const queryString = window.location.pathname.split("p");
      console.log(queryString[1], "here");

      // Initialize the map with a placeholder location
      var map = new mapboxgl.Map({
        container: "map",
        style: "mapbox://styles/mapbox/streets-v12",
        center: [0, 0], // Placeholder center
        zoom: 15,
      });

      // Listen for the map 'load' event
      map.on("load", async function () {
        // Initialize the source for the bus path
        map.addSource("busPath", {
          type: "geojson",
          data: {
            type: "Feature",
            properties: {},
            geometry: {
              type: "LineString",
              coordinates: [], // Initially empty
            },
          },
        });

        // Add a layer to display the completed bus path
        map.addLayer({
          id: "completedPathLayer",
          type: "line",
          source: "busPath",
          layout: {
            "line-join": "round",
            "line-cap": "round",
          },
          paint: {
            "line-color": "#007BFF", // Completed path color
            "line-width": 2, // Line width
          },
        });

        // Add a layer to display the remaining bus path
        map.addLayer({
          id: "remainingPathLayer",
          type: "line",
          source: "busPath",
          layout: {
            "line-join": "round",
            "line-cap": "round",
          },
          paint: {
            "line-color": "#AAAAAA", // Remaining path color
            "line-width": 2, // Line width
          },
        });

        // // Initialize the path between sourceLocation and destinationLocation
        // const routePath = await getRoutePath(
        //   data.sourceLocation,
        //   data.destinationLocation
        // );
        // const busPath = map.getSource("busPath");
        // busPath.setData({
        //   type: "Feature",
        //   properties: {},
        //   geometry: {
        //     type: "LineString",
        //     coordinates: routePath,
        //   },
        // });

        // Create a marker element
        var el = document.createElement("div");
        el.className = "marker";
      });

      // Listen for WebSocket updates from the server
      socket.on("broadcastDriverData", async (data) => {
        console.log("Received data:", data);

        // Add the marker to the map
        const busMarker = new mapboxgl.Marker(el)
          .setLngLat([0, 0])
          .setPopup(
            new mapboxgl.Popup({ offset: 25 }).setHTML(
              "<h3>Bus Details</h3>" +
                "<p>Driver's Current Location</p>" +
                `<p>From: </p>` +
                `<p>To:</p>` +
                `<p>Via: </p>` +
                `<p>Time: </p>`
            )
          )
          .addTo(map);

        // Check if the data is for the specific trip
        const stringWithoutSlash = queryString[1].replace("/", "");
        // if (data.tripID === stringWithoutSlash) {
        console.log("Got coords for Hardy", data);
        let via;
        if (data.viaLocation) {
          via = await reverseGeocode(data.viaLocation);
        }

        // Update the marker's location
        if (!isNaN(data.longitude) && !isNaN(data.latitude)) {
          busMarker.setLngLat([data.longitude, data.latitude]);
        } else {
          console.error(
            "Invalid latitude or longitude in the received data:",
            data
          );
        }

        // Check if sourceLocation and destinationLocation are available
        if (data.sourceLocation && data.destinationLocation) {
          // Initialize the path between sourceLocation and destinationLocation
          const routePath = await getRoutePath(
            data.sourceLocation,
            data.destinationLocation
          );

          // Update the bus path with the new coordinates
          const busPath = map.getSource("busPath");
          busPath.setData({
            type: "Feature",
            properties: {},
            geometry: {
              type: "LineString",
              coordinates: routePath,
            },
          });
        }

        // Update the bus path with the new coordinates
        const busPath = map.getSource("busPath");
        const pathCoordinates = busPath._data.geometry.coordinates;
        pathCoordinates.push([data.longitude, data.latitude]);
        busPath.setData({
          type: "Feature",
          properties: {},
          geometry: {
            type: "LineString",
            coordinates: pathCoordinates,
          },
        });
        // Update the popup content
        busMarker
          .getPopup()
          .setHTML(
            "<h3>Bus Details</h3>" +
              "<p>Driver's Current Location</p>" +
              `<p>From: ${await reverseGeocode(data.sourceLocation)}</p>` +
              `<p>To: ${await reverseGeocode(data.destinationLocation)}</p>` +
              `<p>Via: ${via || "N/A"}</p>` +
              `<p>Time: ${formatTime(data.currentTime)}</p>`
          );

        // Fly to the updated location with a smooth transition
        map.flyTo({
          center: [data.longitude, data.latitude],
          speed: 0.5,
        });
        // }
      });

      // Function to get the route path between sourceLocation and destinationLocation
      async function getRoutePath(sourceLocation, destinationLocation) {
        const response = await fetch(
          `https://api.mapbox.com/directions/v5/mapbox/driving/${sourceLocation[0]},${sourceLocation[1]};${destinationLocation[0]},${destinationLocation[1]}?geometries=geojson&access_token=${mapboxgl.accessToken}`
        );
        const data = await response.json();
        return data.routes[0].geometry.coordinates;
      }

      // Function to perform reverse geocoding
      async function reverseGeocode(location) {
        const response = await fetch(
          `https://api.mapbox.com/geocoding/v5/mapbox.places/${location[1]},${location[0]}.json?access_token=${mapboxgl.accessToken}`
        );
        const data = await response.json();
        // Return the formatted location name
        return data.features[0] ? data.features[0].place_name : "N/A";
      }

      // Function to format the time
      function formatTime(currentTime) {
        const date = new Date(currentTime);
        return date.toLocaleString(); // Adjust this according to your preferred format
      }
    </script>
  </body>
</html>
